*{
  text-align: center;
}

@keyframes scale {
  0% {transform: scale(1);}
  100% {transform: scale(1.2);}
}

a > img:hover {
  animation-name: scale;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
}

#instagram, #facebook, #github {
  height: 50px;
  width: 50px;
}
#bluePig {
  height: 300px;
  width: 300px;
}
